@media (prefers-color-scheme: light) {
	body {
		background-color: #e8ebfc;
		color: #323234;
	}

	a {
		color: #0d2673;
	}
  }
  
@media (prefers-color-scheme: dark) {
	body {
		background-color: #121421;
		color: #e8ebfc;
	}

	a {
		color: #b3bfff;
	}
}

.avatar {
	width: 256px;
	height: 256px;
}

.button.gz-green {
	color:white;
	background-color: #7bb951;
	line-height: 24px;
}

#gz-logo {
	height: 40px;
    width: 40px;
    margin: -20px;
}

.button.button-codepen {
	color: #ffffff;
	background-color: #252830;
}