body {
	background-color: #e8ebfc;
	color: #323234;
}

a {
    color: #0d2673;
}

.button.gz-green {
	color:white;
	background-color: #7bb951;
	line-height: 24px;
}

#gz-logo {
	height: 40px;
    width: 40px;
    margin: -20px;
}

.button.button-codepen {
	color: #ffffff;
	background-color: #252830;
}